## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
age=21
print(age)

21

2) Imprimir el tipo de dato de la constante 8.5

In [10]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
print(type(age))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [11]:
name="Hyunjin Stray Kids"

5) Crear una variable que contenga un número complejo

In [8]:
complex_number=21+21j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
print(type(complex_number))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [20]:
pi_number=round(3.1415926535897932384626433832795028841971693993751058209,4)
print(pi_number)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [17]:
string='True'
booleano=True
#No son lo mismo, pues el valor 'True'que está en comillas hace referencia a un tipo de dato string, mientras que el valor True 
#sin comillas hace referencia a un tipo de dato booleano

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [18]:
print(type(string))
print(type(booleano))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
sum=143+21.5
print(sum)

164.5

11) Realizar una operación de suma de números complejos

In [21]:
complex_number1=20+1j
complex_number2=21+1j
print(complex_number1+complex_number2)

(41+2j)

12) Realizar una operación de suma de un número real y otro complejo

In [22]:
real_number=2002
complex_number=2001+22j
print(real_number+complex_number)

(4003+22j)

13) Realizar una operación de multiplicación

In [23]:
number1=4.5
number2=2
print(number1*number2)

9.0

14) Mostrar el resultado de elevar 2 a la octava potencia

In [24]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [34]:
division=27/4
print(division)

6.75

16) De la división anterior solamente mostrar la parte entera

In [37]:
division=int(division)
print(division)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [31]:
resto=27%4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [38]:
number_27=division*4+resto
print(number_27)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [41]:
skz1='Hyunjin'
skz2='Félix'
print(skz1+" and "+skz2)

Hyunjin and Félix

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [43]:
print('2'==2)
#Ocurre porque si bien el valor es similar, hacen referencia a distintos tipos de datos

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [44]:
print(int('2')==2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [48]:
a=float('3.8')
#Si utilizas una coma como separador decimal en Python, el valor se tratará como una cadena de caracteres y no como un número 
#decimal. Python utiliza el punto (.) como el separador decimal estándar para representar números de punto flotante.

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [49]:
assignment=3
assignment-=2
print(assignment)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [54]:
1<<2
#El sistema de númeración binario es un sistema compuesto solo por unos y ceros
#En este caso teniamos el número binario 0001, el cual con la operación "1<<2" movió dos posiciones al número uno, transformandolo 
#en 0100, número binario que en sistema decimal es 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [60]:
print(2+int('2'))
print(2+float('2'))
print(str(2)+'2')

4
4.0
22

26) Realizar una operación válida entre valores de tipo entero y string

In [64]:
variable1="Pica el poncho "
print(variable1*3)

Pica el poncho Pica el poncho Pica el poncho